* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    /* color: #ffffff; */
    color: magenta;
}

window#waybar {
    /* background: none; */
}

button {
    /* border: none;
    border-radius: 0; */
}

#clock {
    font-size: 20;

    border-style: solid;
    border-width: 0 30px 0 30px;
    border-color: transparent green transparent green;
}